/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 Nov 2014, 8:06:07 PM
    Author     : Matt
*/

body {
    background: navajowhite;
    font-family: arial, sans-serif;
    
    font-size: medium;
    color: midnightblue;
}

h1 {
    font-size: xx-large;
    font-weight:  bold;
    font-variant: small-caps;
}

.usableArea {
    margin-top: 4em;
    margin-left: 10em;
}

#siteheader {
    background: black;
    color: ghostwhite;
    padding-top: 0em;
    padding-left: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 4em);
}
#siteheaderspace {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 5em;
}

#sitemainmenu {
    background: black;
    color: ghostwhite;
    position: fixed;
    top: 4em;
    left: 0;
    bottom: 0;
    width: 10em;
}
#sitemainmenu a {
    text-decoration: none;
}
#sitemainmenu a div {
    border-style: solid;
    border-color: ghostwhite;
    border-width: 1px;
    border-radius: 0.5em 0 0 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1px;
    padding-left: 0.25em;
    width: calc(100% - 0.75em);
}