/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 Nov 2014, 8:06:07 PM
    Author     : Matt
*/

body {
    background: ghostwhite;
    font-family: arial, sans-serif;
    font-size: medium;
    color: black;
}

h1 {
    font-size: xx-large;
    font-weight:  bold;
    font-variant: small-caps;
}

form {
    
}

.usableArea {
    margin-top: 4.5em;
    margin-left: 10em;
}

#siteheader {
    background: black;
    color: ghostwhite;
    margin: 0 0 0 0;
    padding-top: 0em;
    padding-left: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 4em);
}

.sitemainmenu {
    background: black;
    color: ghostwhite;
    position: fixed;
    top: 4em;
    left: 0;
    bottom: 0;
    width: 10em;
}

.menuSegment {
    border-width: 0;
    border-style: none;
    margin: 0em;
    padding: 0em;
    margin-top: 0.5em;
    padding-top: 0.25em;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-left-radius: 0;
}

#circlebutton {
    border-radius: 3em;
    border-width: 0.2em;
    margin: 0em;
    padding: 0em;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
}

.sitemainmenu button {
    background: none;
    border-style: solid;
    border-color: ghostwhite;
    border-width: 1px;
    color: ghostwhite;
    font-size: medium;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1px;
    padding-left: 0.25em;
    text-align: left;
    width: calc(100% - 0.5em);
}
.sitemainmenu button:first-of-type{
    border-top-left-radius: 0.5em; 
}
.sitemainmenu button:last-of-type {
    border-bottom-left-radius: 0.5em;
}
.sitemainmenu button:hover{
    background: lightgray;
    border-color: darkgray;
    color: black;
    padding-left: 0.5em;
    margin-left: 0em;
    width: calc(100% - 0.25em);
}

#clientEdit {
    max-width: 25em;
    min-width: 10em;
    text-align: right;
}

input {
    padding: 0.25em;
    -webkit-appearance: none; 
    border: 1px solid darkgray;
}
input:read-only {
    background: lightgray;
    border: lightgray;
    font-weight: bold;
}